/* General Styles */
/* Apply to all sizes */
*, *:before, *:after {
  box-sizing: border-box;
}


/* Add Breakpoints Here */
/* Apply to certain size and above */
@media  screen and (max-width:400px){

  .block{
    display:block;
  }
}


.trombone{
  width: 30%;
  height: 30%;
  }
@media screen and (min-width: 401px){


    .block{
      display: flex;
  }
}
nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: #EEEEEE;

}

.a{
  text-decoration: none;
  color: black;
}

.align{
  height: 40px;
  font-size: 20px;
  flex: 1;
  }

body{
  background-color: #EEEEEE;
}

input{
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  width: 20%;
}

@media screen and (min-width: 401px){
#Email{
  border: none;
  border: 1px solid black;
  height: 50px;
  width: 30%;
}
.button{
  font-weight: bold;
  background-color: orange;
}
}

@media screen and (max-width: 400px){
  #Email{
    border: none;
    border: 1px solid black;
    height: 50px;
    width: 100%;
  }
  .button{
    font-weight: bold;
    background-color: orange;
    width: 70%;
  }
}


h1{
  font-weight: 100;
}

@media screen and (min-width: 401px){
h2{
  font-size: 40px;
}
.item{
  width: 10%;
  height: 10%;
  border: 1px solid #EEEEEE;
  margin-left: 0rem;
}

h2{
  border: none;
  background-color: #EEEEEE;
  height: 25px;
  flex: 1;
  color: black;
  margin-right: 54rem;
  }

  .box{
    display: flex;
    text-align: left;
  }

p{
  font-size: 20px;
}
}

@media screen and (max-width: 400px){
  h2{
    font-size: 40px;
    text-align: center;
  }
  p{
    text-align: center;
  }
  .item{
    width: 0%;
    height: 0%;
  }
}


*{
  text-align: center;
}

ol{
  display: block;
  align-items: center;
  list-style-type: none;
  text-align: center;
}
@media screen and (min-width: 401px){
.title{
  background-color: #ddd;
  font-size: 30px;
}

.row{
display:flex;
justify-content:space-between;
text-align: center;
}

.Tenor{
  border: 1px solid black;
  background-color: #EEEEEE;
  height: 400px;
  flex: 1;
  color: black;
  width: 50%;
  font-size:20px;
  margin-right: 1rem;

  }

strong{
  font-size: 40px;

}

.select{
  width: 80%;
  background-color: #f1c40f;
  border: none;
  padding: 0.5rem;
  align-self: center;
}

.Bass{
    border: 1px solid black;
    background-color: #EEEEEE;
    height: 400px;
    flex: 1;
    color: black;
    width: 100%;
    font-size:20px;
    margin-right: 1rem;
}

.valve{
  border: 1px solid black;
  background-color: #EEEEEE;
  height: 400px;
  flex: 1;
  color: black;
  width: 50%;
  font-size:20px;
  margin-right: 1rem;
}
}

@media screen and (max-width: 400px){
  .title{
    background-color: #ddd;
    font-size: 30px;
  }

  .row{
  display:block;
  text-align: center;
  }

  .Tenor{
    border: 1px solid black;
    background-color: #EEEEEE;
    height: 450px;
    flex: 1;
    color: black;
    width: 100%;
    font-size:20px;
    margin-right: 1rem;

    }

  strong{
    font-size: 40px;

  }

  .select{
    width: 80%;
    background-color: #f1c40f;
    border: none;
    padding: 0.5rem;
    align-self: center;
  }

  .Bass{
      border: 1px solid black;
      background-color: #EEEEEE;
      height: 450px;
      flex: 1;
      color: black;
      width: 100%;
      font-size:20px;
      margin-right: 1rem;
  }

  .valve{
    border: 1px solid black;
    background-color: #EEEEEE;
    height: 450px;
    flex: 1;
    color: black;
    width: 100%;
    font-size:20px;
    margin-right: 1rem;
  }
  }

.end{
  background-color: #ddd;
}

iframe{
  justify-content: center;
}

.copyright{
  display: flex;
  border:none;
  background-color: #ddd;
  flex: 1;
  color: black;
  width: 100%;
  font-size:20px;
  margin-right: 0.5rem;
  justify-content: flex-end;
}

a{
  text-decoration: none;
  color: black;
}

.right{
  text-align: right;
}
