/* General Styles */
/* Apply to all sizes */
*, *:before, *:after {
  box-sizing: border-box;
}


/* Add Breakpoints Here */
/* Apply to certain size and above */

.trombone{
  width: 30%;
  height: 30%;
}

.block{
  display: flex;
}

nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: #EEEEEE;

}

.a{
  text-decoration: none;
  color: black;
}

.align{
  height: 40px;
  font-size: 20px;
  flex: 1;
  }

body{
  background-color: #EEEEEE;
}

input{
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  width: 20%;
}


#Email{
  border: none;
  border: 1px solid black;
  height: 50px;
  width: 30%;
}

.button{
  background-color: orange;
  font-weight: bold;
}

h1{
  font-weight: 100;
}


h2{
  font-size: 40px;
}
.item{
  width: 10%;
  height: 10%;
  border: 1px solid #EEEEEE;
  margin-left: 0rem;
}

h2{
  border: none;
  background-color: #EEEEEE;
  height: 25px;
  flex: 1;
  color: black;
  margin-right: 54rem;
  }

  .box{
    display: flex;
    text-align: left;
  }

p{
  font-size: 20px;
}


*{
  text-align: center;
}

ol{
  display: block;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

.title{
  background-color: #ddd;
  font-size: 30px;
}

.row{
display:flex;
justify-content:space-between;
text-align: center;
}

.Tenor{
  border: 1px solid black;
  background-color: #EEEEEE;
  height: 400px;
  flex: 1;
  color: black;
  width: 50%;
  font-size:20px;
  margin-right: 1rem;

  }

strong{
  font-size: 40px;

}

.select{
  width: 80%;
  background-color: #f1c40f;
  border: none;
  padding: 0.5rem;
  align-self: center;
}

.Bass{
    border: 1px solid black;
    background-color: #EEEEEE;
    height: 400px;
    flex: 1;
    color: black;
    width: 100%;
    font-size:20px;
    margin-right: 1rem;
}

.valve{
  border: 1px solid black;
  background-color: #EEEEEE;
  height: 400px;
  flex: 1;
  color: black;
  width: 50%;
  font-size:20px;
  margin-right: 1rem;
}

.end{
  background-color: #ddd;
}

.copyright{
  display: flex;
  border:none;
  background-color: #ddd;
  flex: 1;
  color: black;
  width: 100%;
  font-size:20px;
  margin-right: 0.5rem;
  justify-content: flex-end;
}

a{
  text-decoration: none;
  color: black;
}

.right{
  text-align: right;
}
